@import url('https://rsms.me/inter/inter.css');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.87);
  --primary-color: #1DB954;
  --secondary-color: #212121;
  --tertiary-color: #121212;
  --quaternary-color: #535353;
  --quinary-color: #b3b3b3;
  --nav-height: 100px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--primary-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top:0;
  left:0;
  z-index: 0;
}

.scene {
  width: 100vw;
  height: 80vh;
  background: url('./assets/backgroundvideo.mp4') center center fixed;
  z-index: 300;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.home_text {
  width: 100%;
  height: 30%;
  bottom: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  border-radius: 0px 0px 50px 50px;
}

.interactive {
  width: 95%;
  height: 95%;
  position: relative;
  top:0;
  left:0;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  canvas {
    border-radius: 50px;
  }

}

.navigation {
  top: 0;
  left: 0;
  padding: 1rem 0;
  z-index: 100;
  width: 100%;
  height: var(--nav-height);
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;


  :hover {
    cursor: pointer;
  }
}

.logo_svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input {
  width: 80%;
}

.input__field {
  width: 100%;  
  height: 50px;
  font-size: 2rem;
  color: white;
  background-color: transparent;
  border: 1px solid var(--quaternary-color);
  border-radius: 8px;
}

.input__label {
  width: 100%;
}

.button-group {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.loading{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #121212;
  z-index: 200;
  top:0;
  left:0;
  transform:translate(0, 100%);
  animation : loading 4s;
  animation-fill-mode: forwards;
}

.loading_gpt {
  color: white
}


@keyframes loading {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 100%);

  }
}

.cls-1 {
  fill: #000;
}

.cls-2 {
  animation : col 3s linear infinite;
}